html{
  background-color: #b8f3d2;
  color: #129492;
}
::selection{
  background-color: #4ec181;
  color: #c8eeee;
}

#site_header{
  padding-bottom: 5px;
  border-bottom: 2px solid #129492;
}

h1{
  text-align: center;
}

span{
  font-weight: bold;
}

nav{
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  display: inline-block;
  text-align: center;
}

a{
  color: #0a8c56;;
}

p{
  position: relative;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}