img{
    max-width: 100px;
    margin: auto;
}
table{
    width: 100%;
}
th{
    min-width: 50px;
    padding: 10px;
    text-align: center;

}
td{
    padding: 10px;
    width: auto;
}
tr{
    width: auto;
}
