body {
    background-image: url("gif/night_background.gif");
    background-repeat: repeat;

    color:white;
    font-family: 'Times New Roman', Times, serif;

    overflow-x: hidden;

    width: 100%;
    height: 100%;

    font-size: larger;
}

a {
    color: #FFDC7F;
    text-decoration: none;
}

a:active {
    color: #7f88ff;
}
.active {
    color: #7f88ff;
}

.madoka-div{
    background-color: rgba(22, 50, 91, 0.8);
    border-style: groove;
    border-color: #FFDC7F;
}

.homura-div{
   background-color: rgba(22, 50, 91, 0.8);

    position: relative;
    margin: auto;
    margin-top: 5px;
    object-fit: cover;
}

#money-bill {
    position: absolute;
    top:-5vh;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

#money-coin {
    position: absolute;
    top:-5vh;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#title-box {
    position: relative;
    margin: auto;
    width: 50%;
    min-width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5vh;

}
#title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#title {
    font-size: 40px;
    font-weight: bold;
    width: 20%;
    margin-left: 2vh;
}



#title-text {
    text-align: left;
    width: 50%;
}



#marquee-container {
    background-color: rgba(22, 50, 91, 0.8);

    position: relative;
    margin: auto;
    width: calc(50% + 26px);
    min-width: 626px;
    padding: 2px 10px;
    margin-bottom: 10px;

    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    display: flex;
}

#katamari-img{
    width: 17px;
}


#border {
    position: relative;
    margin: auto;
    width: 50%;
    min-width: 600px;
    padding: 10px;   
    
    border-style: solid;
    border-color: white;
    border-width: 1px;

    display: flex;
    justify-content: space-between;
}

#main {
    position: relative;
    width: 73%;
    padding: 10px;

    text-align: center;
}

#main-text {
    text-align: left;
}

#premio-img{
    position: absolute;
    right: -120px;
    top:20px;

    width: 130px;
    height: auto;
}

#left-bar {

    position: relative;
    width: 20%;
    padding: 10px;

}

#warning-img{
    position: absolute;
    left: -65px;
    bottom:-50px;
}

#img-container {
    border-top: 1px solid white;
    height:auto;    
}

#madohomu-img {
    object-fit: cover;
    width: 70%;
    height: auto;
}

#random-word {
    font-size: 11px;
    position:absolute;
    left: 400px;
    top: 500px;
}

#bottom-img-container{
    width: 20%; 
    text-align: center;
}

#bottom-img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:20%;
    padding:2%;
}


