#mobile-warning {

    position: fixed;
    display: none;
    margin-top: 40%;
    left: 0;
    right: 0;
    z-index: 1000;
}

#money-bill {
    position: absolute;
    top:-5vh;
    display: none;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

#money-coin {
    position: absolute;
    top:-5vh;
    display: none;
    width: 100%;
    z-index: 1;
}


#katamari-img{
    width: 17px;
}

#premio-img{
    position: absolute;
    right: -120px;
    top:20px;

    width: 130px;
    height: auto;
}

#warning-img{
    position: absolute;
    left: -65px;
    bottom:-50px;
}


#madohomu-img {
    object-fit: cover;
    width: 70%;
    height: auto;
}

#random-word {
    font-size: 11px;
    position:absolute;
    left: 400px;
    top: 500px;
}

#bottom-img-container{
    width: 20%; 
    text-align: center;
}

#bottom-img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:20%;
    padding:2%;
}

#msg-button{
    cursor: pointer;
    color: white;
}

#textbox{
    width: 100%; 
    height: 6vh;
    min-height: 5vh;
    max-height: 40vh;
    resize: vertical;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}
::placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255,0.5);
    font-size: larger;
}

