.popup-container {
    flex: 0 0 calc(33.333% - 10px);
    max-width: calc(33.333% - 10px); 
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.trigger-element {
    cursor: pointer;
}

.popup-content {
    border: 2px solid;
    border-color: #FFDC7F;
    background-color: rgba(22, 50, 91, 0.85);

    display: none;

    position: absolute;
    z-index: 1;
    width: 400px;
    padding: 15px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;

    text-align: left;
}

.popup-container:hover .popup-content {
    display: block;
}

.popup-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}

.review-img{
    width: 300px;
}
