p { 
    text-indent: 30px;
 }

#main {
    width: 100%;
    padding-left: 5vh;
    padding-right: 5vh;
}

#back-box {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    min-width: 600px;
    padding: 10px;   

    text-align: left;
}