p { 
    text-indent: 30px;
 }

#main {
    width: auto;
}

#back-box {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    width: 60%;
    padding: 10px;   

    text-align: left;
}

@media (max-width: 800px) {
    #back-box {
        width: 90%;
    }
}